//Import _variables.scss to use them in Mixins
@import '_variables.scss';
//MIXINS
//Text Shadow
@mixin text-shadow($h-shadow: 0, $v-shadow: 0, $blur-radius: 0, $textColor: $zblackColor) {
    text-shadow: $h-shadow $v-shadow $blur-radius $textColor;
}

//Box Shadow
@mixin box-shadow($h-shadow: 0, $v-shadow: 0, $blur-distance: 0, $spread: 0, $shadowColor: $whiteColor) {
    box-shadow: $h-shadow $v-shadow $blur-distance $spread $shadowColor;
}

//Background Linear Gradient
@mixin background-gradient($startColor: $whiteColor, $startPos: 0%, $endColor: $whiteColor, $endPos: 100%) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor $startPos, $endColor $endPos);
    background-image: -moz-linear-gradient(top, $startColor $startPos, $endColor $endPos);
    background-image: -ms-linear-gradient(top, $startColor $startPos, $endColor $endPos);
    background-image: -o-linear-gradient(top, $startColor $startPos, $endColor $endPos);
    background-image: linear-gradient(top, $startColor $startPos, $endColor $endPos);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

//Background Radial Gradient
@mixin background-radial($startColor: $whiteColor, $startPos: 0%, $endColor: $whiteColor, $endPos:100%) {
    background: -moz-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($startPos, $startColor), color-stop($endPos, $endColor));
    background: -webkit-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
    background: -o-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
    background: -ms-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
    background: radial-gradient(ellipse at center, $startColor $startPos, $endColor $endPos);
}

//Border
@mixin border($borderWidth: medium, $borderStyle: none, $borderColor: transparent) {
    border: $borderWidth $borderStyle $borderColor;
}

//Border Radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

//Button
@mixin button($display: block, $bgColor: $greyColor, $textColor: $whiteColor, $fontWeight: $regular, $padding: auto) {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: $display;
    background: $bgColor;
    color: $textColor !important;
    font-weight: $fontWeight;
    padding: $padding;
    &:link,
    &:visited {
        background: $bgColor;
    }
    &:hover {
        background: darken($bgColor, 10%);
    }
    &:active {
        background: darken($bgColor, 25%);
    }
}

// Spacer [Extend/Inheritance]
.spacer {
    overflow: hidden;
    background: transparent;
    clear: both;
}

.spacerMini {
    @extend .spacer;
    font-size: $fs0;
    height: $heightMini;
    line-height: $lineHeightMini;
}

.spacerSmall {
    @extend .spacer;
    font-size: $fs0;
    height: $heightSmall;
    line-height: $lineHeightSmall;
}

.spacerBig {
    @extend .spacer;
    font-size: $fs0;
    height: $heightBig;
    line-height: $lineHeightBig;
}

.spacerExtraBig {
    @extend .spacer;
    font-size: $fs0;
    height: $heightExtraBig;
    line-height: $lineHeightExtraBig;
}

// Skewed Box
@mixin skewedBox($skewed-box) {
    -webkit-transform: $skewed-box;
    -moz-transform: $skewed-box;
    -ms-transform: $skewed-box;
    transform: $skewed-box;
}

@mixin skewedBoxRight($skewed-box-rightSide) {
    -webkit-transform: $skewed-box-rightSide;
    -moz-transform: $skewed-box-rightSide;
    -ms-transform: $skewed-box-rightSide;
    transform: $skewed-box-rightSide;
}

@mixin skewedText($skewed-text) {
    -webkit-transform: $skewed-text;
    -moz-transform: $skewed-text;
    -ms-transform: $skewed-text;
    transform: $skewed-text;
}

@mixin skewedTextRest($skewed-textReset) {
    -webkit-transform: $skewed-textReset;
    -moz-transform: $skewed-textReset;
    -ms-transform: $skewed-textReset;
    transform: $skewed-textReset;
}